html {
  overflow: scroll;
}
::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background: transparent;
}

.products-bg {
    width: 100vw;
    background: url('/img/products-page.jpg') top right no-repeat;
    background-attachment: fixed;
}

.nav {
    @include transition-ease;
}

.products_title {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60vw;
    padding: 20px 0 13px 0;
    display: block;
    text-align: center;
    font-size: 25px;
    border-radius: 50px;
    background-color: rgba($secondary-color, 0.45);
    
    h1 {
        font-family: TenaliRamakrishna-Regular;
        color: rgba($primary-color, 0.85);
        text-shadow: 0px 3px 3px #000;
    }
}

.products {
    width: 80vw;
    display: flex;
    margin: 50px auto; // Center the container
    flex-flow: row wrap;
    justify-content: space-around;
    position: relative;
    top: 150px;

    // SCSS reference each item for styling
    &_item {
        width: 300px;
        height: 300px;
        margin: 20px auto;
        border-radius: 30px;
        z-index: 1;
        @include transition-ease;

        &:hover .item-price, 
        &:hover .item-description {
            opacity: 0.85;
            pointer-events: none;
        }
    }

    &_link {
        color: inherit;
        display: block;
        width: 300px;
        height: 300px;
        z-index: 2;

        .item-price {
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            background-color: $secondary-color;
            color: $primary-color;
            opacity: 0;
            position: absolute;
            pointer-events: none;
            text-align: center;
            display: block;
            padding-top: 5px;
            width: 300px;
            height: 25px;
            z-index: 3;
            @include transition-ease;

        }

        .item-description {
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            background-color: $secondary-color;
            color: $primary-color;
            opacity: 0;
            position: relative;
            pointer-events: none;
            text-align: center;
            display: block;
            padding: 10px 0 5px 5px;
            bottom: 60px;
            height: 60px;
            width: 300px;
            z-index: 2;
            @include transition-ease;
        }

        

        img {
            @include transition-ease;
            display: block;
            width: 300px;
            height: 300px;
            color: #000;
            opacity: 0.85;
            z-index: 2;
            border-radius: 30px;

            &:hover {
                opacity: 1;
                @include transition-ease;
            }
        }
    }

    footer {
        transform: 
            rotate(90deg)
            translate(-3rem, -5rem);
    }
}